body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

details{
    cursor: pointer;
    padding: 1rem;
    margin: .5rem 0;
    background-color: hsla(195, 100%, 64%, 0.5);
    font-weight: 300;
    border: 3px solid hsla(195, 100%, 64%);
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.5);
}
details p{
    font-size: .75rem;
}
summary{
    font-weight: bold;
}